* {
  font-family: "Montserrat";
  color: #323232;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(239, 239, 239, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #191a1f;
  z-index: 1;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #8c8d8f;
}

*::selection {
  background: rgba(206, 205, 205, 1);
  color: #fff;
}

body {
  padding: 0px;
  margin: 0;
  background-color: #1b1c22;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 6vh;
  margin-top: 3vh;
  color: #fcfcfc;

  @media (min-width: 768px) {
    font-size: 34px;
  }
}

@media (min-width: 992px) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 100;
    transition: transform 0.4s;
    border: 2px solid #fff;
    pointer-events: none;

    &.hover {
      transform: scale(0.6);
      background: white;
      mix-blend-mode: difference;
    }
  }
}

.main {
  overflow: hidden;
  padding: 0 20px;
  grid-column: 2/3;
}

a {
  text-decoration: none;
}

@import "./components/item.scss";
@import "./components/aside.scss";
