.header-block-new {
  .relative__close {
    position: relative;
    width: 30px;
  }

  .header-hide__menu span {
    /* display: none; */
    align-items: center;
    background: none;
    width: 30px;
    height: 30px;
    font-size: 0;
    cursor: pointer;
    z-index: 20;
  }

  .header-hide__menu span div,
  .header-hide__menu span:after,
  .header-hide__menu span:before {
    height: 2px;
    width: 25px;
    top: 21px;
    background: #131a29;

    transition: 0.4s;
    border-radius: 1px;
  }

  .header-hide__menu span:after,
  .header-hide__menu span:before {
    content: "";
    position: absolute;
    z-index: 20;
  }

  .opacity__animation {
    opacity: 1;
  }

  .header-hide__menu span:after {
    bottom: 0;
  }

  .header-hide__menu span:before {
    top: 6px;
  }

  .header-hide__menu_open span div {
    opacity: 0;
  }

  .header-hide__menu_open span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
  }

  .header-hide__menu_open span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
  }

  .header-hide__menu_open span {
    position: absolute;
    top: -16px;
  }

  .header-hide__feedback-mobile {
    display: none;
  }

  .header-hide__list li a {
    transition: all 0.4s;

    &:hover {
      color: #be1704;
      text-shadow: 2px 2px 4px darken(#be170460, 15%);
    }
  }

  @media (max-width: 767px) {
    #page-new #header-main .columns .header-list ul {
      margin-top: 400px;
    }

    .header-hide__wrapper {
      // margin-bottom: 30px;
    }

    .header-hide__list.header-hide_visible {
      width: 227px !important;
      align-items: flex-start;
      height: auto;
    }

    .header-hide__feedback {
      display: none;
    }

    .header-hide__feedback-mobile {
      display: inline-block;
      margin-top: 10px;
    }

    .header-hide__feedback-mobile .header-hide__phone {
      font-size: 25px;
    }

    #header-main p.subtitle::after {
      width: 250px;
      height: 250px;
      top: 260px;
      right: 50%;
      transform: translateX(50%);
    }

    .header-hide__list-for-test {
      top: 0 !important;
      padding-top: 50px !important;
    }
  }

  @media (max-width: 479px) {
    #page-new #header-main .columns .header-list ul {
      margin-top: 320px;
    }

    #header-main p.subtitle::after {
      top: 170px;
      right: 50%;
      transform: translateX(50%);
      z-index: 11;
    }
  }

  .hidden-select {
    visibility: hidden;
  }

  .refer_test {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #2f2f2f;
  }

  .refer_test:hover {
    color: #2f2f2f;
  }

  .refer_test_li_active {
    color: #be1704;
  }

  .number__button__block {
    display: flex;
    flex-direction: row;
  }

  .number__block {
    display: flex;
    flex-direction: column;
  }

  .features-test {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 60px;
  }

  .features-test__item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    max-width: 234px;
    width: auto;
    margin: 25px auto;
    color: #323232;
  }

  .item-text {
    margin-top: 10px;
  }

  .mobile__buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .button-test {
    font-family: "Gilroy" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: 0px !important;
    position: relative !important;
    min-width: 183px !important;
    height: 38px !important;
    padding: 9px 0px !important;
    padding-right: 18px !important;
    border: 2px solid #cf1500 !important;
    border-radius: 15px !important;
    text-align: right !important;
    color: #cf1500 !important;
    cursor: pointer !important;
    text-decoration: none;
  }

  a[href="#callme"] {
    transition: 0.4s all;

    &:hover {
      transform: scale(1.05);
    }
  }

  .mobile__buttons .button-test {
    padding: 9px 0px !important;
    width: 34px !important;
    min-width: 34px !important;
    height: 34px !important;
    min-height: 34px !important;
    border-radius: 100% !important;
  }

  .mobile__buttons .button-test .phone__icon-test {
    left: 7px;
    top: 24%;
  }

  .button-test__mobile {
    display: none;
  }

  .header-hide__phone__test {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;

    color: #000000;
  }

  .phone_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .phone_container__text {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    align-items: flex-start;
    /* justify-content: space-between */
  }

  .phone_container__text div {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    color: #000000;

    opacity: 0.5;
  }

  .phone__icon-test {
    top: 25%;
    left: 17px;
    position: absolute;
  }

  .header-test__main {
    display: flex;
    align-items: flex-start;
    background: url(../images/apparat-bulat-dcstp.png);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
  }

  .head-img__block {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
  }

  .main-form__block {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .main-form-test {
    /* height: 894px; */
    width: 616px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
  }

  .h__text {
    font-family: "Gilroy-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2f2f2f;

    @media (max-width: 767px) and (min-width: 480px) {
      padding: 0 10px;
    }
  }
  .h__text > h1 {
    font-family: "Gilroy-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 43px;
    line-height: 120%;
    /* or 60px */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #2f2f2f !important;
    text-align: left;
    @media (max-width: 479px) {
      margin-top: 0;
      font-size: 22px;
      font-weight: 900;
      line-height: 26px;
      letter-spacing: 0.02em;
      text-align: center;
    }
  }

  .h__text span {
    position: relative;
    color: #cf1500;
  }

  .h__text span svg {
    position: absolute;
    top: 80%;
    left: 0;
    color: #cf1500;
    width: 100%;
    @media (max-width: 660px) {
      top: 70%;
    }
  }
  .h__h2-subtitle {
    font-size: 20px;
    text-align: left;
    margin-top: 0%;
    color: #2f2f2f;
    line-height: 20px;
    @media (max-width: 767px) {
      padding: 0 10px;
    }
    @media (max-width: 479px) {
      font-family: "Gilroy-Bold";
      font-size: 20px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-align: center;
    }
  }

  .bulat-img-mobile__block {
    display: none;
  }

  .present__block {
    margin-top: 30px;
    margin-bottom: 27px;
    @media (max-width: 1440px) {
      margin-top: 0;
    }

    img {
      width: 300px;
      max-width: 100%;
      margin-left: auto;

      @media (max-width: 475px) {
        max-width: 90%;
      }

      transition: 0.6s all;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .video__container {
    position: relative;
  }

  .how-to-work__video-container {
    padding-bottom: 56%;
  }

  .video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 48px;
    transform: translate(-50%, -50%);
    background: transparent;
    display: flex;
  }

  .btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
  }

  .video__block {
    padding: 23px;
    padding-bottom: 16px;
    margin: 0 auto;
  }

  .redline__block {
    position: relative;
    width: 102%;
    height: 74px;
  }

  .redline__text {
    position: absolute;
    background: #cf1500;
    text-align: center;
    padding: 16px 0px;

    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    width: 102%;
    left: -2%;
    z-index: 5;
    color: #ffffff;
  }

  .red-right,
  .red-left {
    position: absolute;
    top: 73px;
    z-index: 4;
  }

  .red-right {
    right: 0%;
  }

  .red-left {
    left: -2%;
  }

  .discount__text {
    font-family: "Gilroy";
    text-align: center;
    margin: 10px auto 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #2f2f2f;
  }

  .discount__text span {
    color: #be1704;
    font-weight: 700;
  }

  .header-choose {
    padding: 0 42px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #6a6a6a;
  }

  .tabs__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 28px;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #2f2f2f;
  }

  .tabs__block__row1,
  .tabs__block__row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .row__item,
  .row2__item {
    text-align: center;

    cursor: pointer;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    border-radius: 20px;

    transition: all 0.4s;

    &:hover {
      box-shadow: 0px 5px 30px rgba(207, 21, 0, 0.22);
      border: 2px solid #e2e2e2;
    }
  }

  .row__item__active,
  .row2__item__active {
    background: #cf1500;
    box-shadow: 0px 5px 30px rgba(207, 21, 0, 0.19);
    border-radius: 20px;
    border: 2px solid #cf1500 !important;
    color: #fff;
  }

  .tabs__block__row1 .row__item {
    padding: 10px;
    flex: 1 1 0;
    width: 0;
  }

  .tabs__block__row2 .row2__item {
    padding: 10px 19px;
  }

  .buttons-test__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 30px auto;
    padding: 0 30px;
    margin-bottom: 34px;
    gap: 24px;
  }

  .price__block {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 16px 0 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .old_new_prices {
    display: flex;
    flex-direction: column;
    width: 36%;
    flex-shrink: 0;
  }

  .old_price-test {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;

    color: #be1704;
  }

  .new_price-test {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    /* identical to box height */

    color: #323232;
  }

  .price__text {
    display: inline-block;
    font-family: "Gilroy";
    // font-style: normal;
    // font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    color: #2f2f2f;
  }

  .price__text span {
    font-family: "Gilroy-SemiBold";
    font-weight: 900;
  }

  @media (max-width: 1554px) {
    .features-test {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 60px;
    }

    .h__text {
      font-size: 40px;
      line-height: 100%;
    }
  }

  @media (max-width: 1240px) {
    .h__text {
      font-size: 30px;
      line-height: 100%;
    }
  }

  @media (max-width: 1023px) {
    .phone_container__text {
      display: none;
    }

    .head-img__block {
      align-items: center;

      justify-content: center;
      width: 100%;
    }

    .h__text {
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 120%;
      /* or 26px */

      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }

    .redline__text {
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
    }

    .red-left,
    .red-right {
      /* position: absolute; */
      top: 61px;
      /* z-index: 4; */
    }

    .present__block {
      margin-top: 30px;
    }

    .bulat-img-mobile__block {
      margin-top: 17px;
      display: block;
    }

    .bulat-img-mobile__block img {
      margin: 0 auto;
      width: 80%;
    }

    .header-test__main {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      background: none;
    }

    .main-form__block {
      width: 100%;
      justify-content: center;
      padding: 0px 12px;
    }

    .features-test {
      /* display: grid; */
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 767px) {
    .phone_container {
      display: none;
    }

    .phone_container__text {
      display: flex;
    }

    .button-test__mobile {
      display: block;
    }
  }

  @media (max-width: 679px) {
    .buttons-test__block {
      flex-direction: column;
      /* gap: 24px; */
      /* flex-wrap: wrap; */
      justify-content: center;
      align-items: center;
      margin-bottom: 58px;
    }

    .features-test {
      /* display: grid; */
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  @media (max-width: 620px) {
    .redline__text {
      padding: 16px;
    }

    .redline__block {
      width: 103%;
      left: -0.5%;
    }

    .main-form-test {
      width: 98%;
    }

    .tabs__block {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
    }

    .new_price-test {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
    }

    .old_price-test {
      font-weight: 500;
      font-size: 20px;
      line-height: 18px;
    }

    .old_new_prices {
      width: 30%;
    }

    .header-choose {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    .price__text {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
    }

    .bulat-img-mobile__block img {
      margin: 0 auto;
      width: 100%;
    }
  }

  @media (max-width: 479px) {
    .redline__block {
      width: 100%;
      left: 0;
    }

    .main-form-test {
      width: 100%;
    }

    .redline__text {
      width: 100%;
      left: 0;
    }

    .redline__block svg {
      display: none;
    }

    .redline__text {
      font-size: 20px;
    }
  }

  @media (max-width: 425px) {
    .old_new_prices,
    .price__text {
      width: 100%;
      text-align: center;
      margin-top: 15px;
      img {
        margin: 0 auto;
        display: block;
      }
    }

    .price__block {
      flex-wrap: wrap;
      padding: 0 16px;
    }

    .tabs__block__row2 {
      justify-content: space-between;
    }

    .tabs__block__row2 .row2__item {
      padding: 10px 12px;
      white-space: nowrap;
    }

    .tabs__block__row1 {
      flex-direction: column;
    }

    .tabs__block__row1 .row__item {
      width: 100%;
      flex: 0 0 auto;
    }

    .present__block img {
      margin: 0 auto;
    }
  }

  @media (max-width: 324px) {
    .redline__block {
      height: 92px;
    }

    .discount__text {
      /* margin-top: 10px; */
      font-size: 16px;
    }
  }
}
