#tby-bulat {
  background: #fdfdfd;
  overflow: hidden;
  .container-tby-bulat {
    padding: 0 24px;
    max-width: calc(1555px + 24px * 2);
    margin: 0 auto;
  }

  .tby-bulat {
    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #323232;

      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 25px;
      }

      @media (max-width: 375px) {
        font-size: 16px;
        line-height: 22px;
        width: calc(100% + 8px);
        transform: translateX(-4px);
      }

      span {
        font-weight: 700;
      }
    }

    &__subtitle {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
      text-transform: uppercase;
      color: #323232;

      &-first {
        margin-top: 80px;
      }

      @media (max-width: 768px) {
        font-weight: 700;
        font-size: 22px;
        line-height: 31px;

        &-first {
          margin-top: 40px;
        }
      }

      @media (max-width: 375px) {
        width: calc(100% + 20px);
        transform: translateX(-10px);
      }
    }

    &__decr {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 33px;
      text-align: center;
      text-transform: uppercase;
      color: #323232;
      padding-bottom: 80px;

      @media (max-width: 768px) {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 30px;
      }
    }

    &__easyslider {
      margin-top: 25px;

      .slick-track {
        display: flex;
        gap: 20px;
        box-sizing: border-box;
        padding-bottom: 30px;
        justify-content: space-between;
        @media (min-width: 1090px) {
          background: url("data:image/svg+xml,%3Csvg width='1204' height='2' viewBox='0 0 1204 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='1' x2='1203' y2='1' stroke='%23FFC02C' stroke-width='2' stroke-linecap='round' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A")
              no-repeat,
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='2' viewBox='0 0 144 2' fill='none'%3E%3Cline x1='1' y1='1' x2='143' y2='1' stroke='%23FF5858' stroke-width='2' stroke-linecap='round' stroke-dasharray='10 10'/%3E%3C/svg%3E")
              no-repeat;
          background-position: left 10px top 36%, right 30px top 36%;
          background-size: 70% 2px, 30% 2px;
        }
        @media (max-width: 768px) {
          gap: 0px;
        }

        &::before,
        &::after {
          position: absolute;
        }
      }

      &-item {
        @media (min-width: 580px) {
          max-width: 290px;
        }

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
          width: 100%;
          box-sizing: border-box;
          padding: 0 10px;
          @media (max-width: 768px) {
            max-width: 200px;
          }
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          color: #323232;

          @media (max-width: 768px) {
            max-width: 300px;
            width: 100%;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
          }

          span {
            font-size: 22px;
            line-height: 29px;
            font-weight: 500;

            @media (max-width: 768px) {
              font-size: 20px;
              line-height: 27px;
            }
          }
        }
      }

      &__control {
        @media (min-width: 1440px) {
          display: none;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        &-count {
          display: flex;
          gap: 5px;
          align-items: flex-start;
          user-select: none;

          .view {
            width: 15px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            box-sizing: content-box;
            text-align: center;
            color: #323232;
            padding-left: 11px;
          }

          .separator {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            color: #696969;
          }

          .all {
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            color: #696969;
            padding-right: 16px;
          }
        }

        .slick-arrow {
          cursor: pointer;
        }

        .slick-disabled {
          opacity: 0;
          transition: all 0.5s;
        }
      }
    }

    &__warning {
      display: flex;
      gap: 15px;
      margin-bottom: 60px;
      align-items: center;

      @media (max-width: 768px) {
        margin-bottom: 45px;
        gap: 5px;

        svg {
          width: 21px;
          height: 21px;
        }
      }

      @media (max-width: 375px) {
        width: calc(100% + 20px);
        transform: translateX(-10px);
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #323232;

        @media (max-width: 768px) {
          font-size: 12px;
          line-height: 19px;
          white-space: nowrap;
        }

        @media (max-width: 375px) {
          font-size: 10px;
          line-height: 16px;
        }

        span {
          font-weight: 600;
        }
      }
    }

    &__dontdoit {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 60px 40px;
      margin-top: 30px;
      padding-bottom: 80px;

      @media (max-width: 1580px) {
        justify-content: center;
      }

      @media (max-width: 768px) {
        row-gap: 35px;
        padding-bottom: 40px;
      }

      &-item {
        max-width: 460px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;

        @media (max-width: 1580px) {
          max-width: 400px;
        }

        @media (max-width: 768px) {
          gap: 15px;
        }

        img {
          @media (max-width: 768px) {
            max-width: 200px;
            width: 100%;
          }
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          color: #323232;

          @media (max-width: 768px) {
            font-weight: 400;
            font-size: 17px;
            line-height: 25px;
          }
        }
      }
    }
  }
}
